# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import numpy as np
import pandas as pd

### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

serie=pd.Series(lst)

serie

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
lst[2]

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [11]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [25]:
import pandas as pd

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]


columnas=['col1', 'col2', 'col 3', 'col4', 'col5']

array=np.random.random((10, 5))

array

array([[0.91817195, 0.53859154, 0.30191955, 0.05671658, 0.00300311],
       [0.08574593, 0.32408078, 0.26317387, 0.7209247 , 0.82690971],
       [0.34024965, 0.04357371, 0.12468233, 0.17213717, 0.4183305 ],
       [0.62509144, 0.61701264, 0.21934306, 0.71924287, 0.73729904],
       [0.31099549, 0.57013218, 0.03610438, 0.39598199, 0.46565426],
       [0.3037163 , 0.4475009 , 0.40698233, 0.41405033, 0.5263737 ],
       [0.55234168, 0.90147491, 0.70337707, 0.63586518, 0.04018368],
       [0.53899822, 0.66885766, 0.26728149, 0.92183009, 0.75368686],
       [0.97503226, 0.04176015, 0.75983725, 0.33459976, 0.57987337],
       [0.10830858, 0.68723366, 0.62154979, 0.09670621, 0.69327837]])

In [27]:
df = pd.DataFrame(array, columns=columnas)

df

       col1      col2     col 3      col4      col5
0  0.918172  0.538592  0.301920  0.056717  0.003003
1  0.085746  0.324081  0.263174  0.720925  0.826910
2  0.340250  0.043574  0.124682  0.172137  0.418330
3  0.625091  0.617013  0.219343  0.719243  0.737299
4  0.310995  0.570132  0.036104  0.395982  0.465654
5  0.303716  0.447501  0.406982  0.414050  0.526374
6  0.552342  0.901475  0.703377  0.635865  0.040184
7  0.538998  0.668858  0.267281  0.921830  0.753687
8  0.975032  0.041760  0.759837  0.334600  0.579873
9  0.108309  0.687234  0.621550  0.096706  0.693278

### 5. Rename the data frame columns based on the names in the list below.

In [ ]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [64]:
df.rename(columns={'col1': 'Score_1', 'col2': 'Score_2', 'col3' : 'Score_3', 'col4':'Score_4', 'col5':'Score_5'},
          
          inplace=True)

df

    Score_1   Score_2     col 3   Score_4    Score5
0  0.918172  0.538592  0.301920  0.056717  0.003003
1  0.085746  0.324081  0.263174  0.720925  0.826910
2  0.340250  0.043574  0.124682  0.172137  0.418330
3  0.625091  0.617013  0.219343  0.719243  0.737299
4  0.310995  0.570132  0.036104  0.395982  0.465654
5  0.303716  0.447501  0.406982  0.414050  0.526374
6  0.552342  0.901475  0.703377  0.635865  0.040184
7  0.538998  0.668858  0.267281  0.921830  0.753687
8  0.975032  0.041760  0.759837  0.334600  0.579873
9  0.108309  0.687234  0.621550  0.096706  0.693278

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

KeyError: "['Score_5'] not in index"

### 7. From the original data frame, calculate the average Score_3 value.

### 8. From the original data frame, calculate the maximum Score_4 value.

In [89]:
max_value= df.max(['Score_4'])

print(max_value)

TypeError: unhashable type: 'list'

### 9. From the original data frame, calculate the median Score 2 value.

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

### 11. Calculate the total quantity ordered and revenue generated from these orders.

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.